<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Fesho | Organic Store HTML Template | Home Page 02</title>
<!-- Stylesheets -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">

	<!-- Preloader -->
	<div class="preloader"></div>

	<!-- Main Header-->
	<header class="main-header header-style-two">
		<!-- Header Top -->
		<div class="header-top">
			<div class="container-fluid">
				<div class="inner-container">
					<div class="top-left">
						<!-- Info List -->
						<ul class="info-list">
							<li><i class="fa fa-map"></i> 88 broklyn golden street. New York</li>
							<li><i class="fa fa-envelope"></i> <a href="mailto:needhelp@company.com">needhelp@company.com</a></li>
							<li><i class="fa fa-mobile"></i> <a href="tel:+1(307)776-0608">+ 1 (307) 776-0608</a></li>
						</ul>
					</div>

					<div class="top-right">
						<!-- Login Info -->
						<ul class="login-info">
							<li><a href="#">Login</a></li>
							<li><a href="#">Register</a></li>
						</ul>

						<ul class="social-links">
							<li><a href="#"><span class="fab fa-twitter"></span></a></li>
							<li><a href="#"><span class="fab fa-facebook"></span></a></li>
							<li><a href="#"><span class="fab fa-pinterest"></span></a></li>
							<li><a href="#"><span class="fab fa-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Top -->

		<!-- Header Upper -->
		<div class="header-upper">
			<div class="container-fluid p-0">
				<!-- Main box -->
				<div class="main-box">
					<div class="logo"><a href="index.html"><img src="images/logo-2.png" alt="" title="Fesho"></a></div>

					<!--Nav Box-->
					<div class="nav-outer">

						<nav class="nav main-menu">
							<ul class="navigation">
								<li class="current dropdown"><a href="index.html">Home</a>
									<ul>
										<li><a href="index.html">Home page 01</a></li>
										<li><a href="index-2.html">Home page 02</a></li>
										<li><a href="index-3.html">Home page 03</a></li>
										<li class="dropdown"><a href="#">Header Styles</a>
											<ul>
												<li><a href="index.html">Header Style One</a></li>
												<li><a href="index-2.html">Header Style Two</a></li>
												<li><a href="index-3.html">Header Style Three</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="dropdown"><a href="#">Pages</a>
									<ul>
										<li><a href="page-about.html">About</a></li>
										<li class="dropdown"><a href="#">Services</a>
											<ul>
												<li><a href="page-services.html">Services List</a></li>
												<li><a href="page-service-details.html">Service Details</a></li>
											</ul>
										</li>
										<li class="dropdown"><a href="#">Projects</a>
											<ul>
												<li><a href="page-projects.html">Projects List</a></li>
												<li><a href="page-project-details.html">Project Details</a></li>
											</ul>
										</li>
										<li class="dropdown"><a href="#">Team</a>
											<ul>
												<li><a href="page-team.html">Team List</a></li>
												<li><a href="page-team-details.html">Team Details</a></li>
											</ul>
										</li>
										<li><a href="page-testimonial.html">Testimonial</a></li>
										<li><a href="page-pricing.html">Pricing</a></li>
										<li><a href="page-faq.html">FAQ</a></li>
										<li><a href="page-404.html">Page 404</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#">Shop</a>
									<ul>
										<li><a href="shop-products.html">Products</a></li>
										<li><a href="shop-products-sidebar.html">Products with Sidebar</a></li>
										<li><a href="shop-product-details.html">Product Details</a></li>
										<li><a href="shop-cart.html">Cart</a></li>
										<li><a href="shop-checkout.html">Checkout</a></li>
									</ul>
								</li>
								<li class="dropdown"><a href="#">News</a>
									<ul>
										<li><a href="news-grid.html">News Grid</a></li>
										<li><a href="news-details.html">News Details</a></li>
									</ul>
								</li>
								<li><a href="page-contact.html">Contact</a></li>
							</ul>
						</nav>
						<!-- Main Menu End-->
					</div>


					<div class="outer-box">
						<button class="ui-btn search-btn" type="button"><span class="lnr-icon-search"></span></button>

						<a href="#" class="cart-btn ui-btn">
							<i class="lnr-icon-shopping-cart"></i>
							<span class="count">1</span>
						</a>

						<a href="#" class="theme-btn btn-style-one shop-now"><span class="btn-title">Shop Now</span></a>

						<!--Mobile Navigation Toggler-->
						<div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Mobile Menu  -->
		<div class="mobile-menu">
			<div class="menu-backdrop"></div>

			<!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
			<nav class="menu-box">
				<div class="upper-box">
					<div class="nav-logo"><a href="index.html"><img src="images/logo.png" alt="" title="Fesho"></a></div>
					<div class="close-btn"><i class="icon flaticon-close"></i></div>
				</div>

				<ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
				<ul class="contact-list-one">
					<li>
						<i class="fa fa-phone-square"></i>
						<strong>Phone</strong>
						<a href="tel:+926668880000">+92 666 888 0000</a>
					</li>
					<li>
						<strong>Email</strong>
						<i class="fa fa-envelope"></i>
						<a href="mailto:needhelp@company.com">needhelp@company.com</a>
					</li>
					<li>
						<strong>Address</strong>
						<i class="fa fa-map-marker"></i>
						66 road, broklyn street new york
					 </li>
				</ul>


				<ul class="social-links">
					<li><a href="#"><span class="fab fa-twitter"></span></a></li>
					<li><a href="#"><span class="fab fa-facebook"></span></a></li>
					<li><a href="#"><span class="fab fa-pinterest"></span></a></li>
					<li><a href="#"><span class="fab fa-instagram"></span></a></li>
				</ul>
			</nav>
		</div><!-- End Mobile Menu -->

		<!-- Header Search -->
		<div class="search-popup">
			<span class="search-back-drop"></span>
			<button class="close-search"><span class="fa fa-times"></span></button>

			<div class="search-inner">
				<form method="post" action="index.html">
					<div class="form-group">
						<input type="search" name="search-field" value="" placeholder="Search..." required="">
						<button type="submit"><i class="lnr-icon-search"></i></button>
					</div>
				</form>
			</div>
		</div>
		<!-- End Header Search -->

		<!-- Sticky Header  -->
		<div class="sticky-header">
			<div class="auto-container">
				<div class="inner-container">
					<!--Logo-->
					<div class="logo">
						<a href="index.html" title=""><img src="images/logo.png" alt="" title=""></a>
					</div>

					<!--Right Col-->
					<div class="nav-outer">
						<!-- Main Menu -->
						<nav class="main-menu">
							<div class="navbar-collapse show collapse clearfix">
								 <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
							</div>
						</nav><!-- Main Menu End-->

						<!--Mobile Navigation Toggler-->
						<div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
					</div>
				</div>
			</div>
		</div><!-- End Sticky Menu -->
	</header>
	<!--End Main Header -->

	<!-- Banner Section -->
	<section class="banner-section">
		<div class="banner-carousel owl-carousel owl-theme">
			<!-- Slide Item -->
			<div class="slide-item" style="background-image: url(images/resource/banner-1.jpg);">
				<div class="auto-container">
					<div class="content-box">
						<span class="icon icon-drops animate-1"></span>
						<span class="sub-title animate-2">Best Quality Products</span>
						<h1 class="animate-3">Only Organic <br>Products</h1>
						<div class="btn-box animate-4"><a href="#" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a></div>
					</div>
				</div>
			</div>

			<!-- Slide Item -->
			<div class="slide-item" style="background-image: url(images/resource/banner-2.jpg);">
				<div class="auto-container">
					<div class="content-box">
						<span class="icon icon-drops animate-1"></span>
						<span class="sub-title animate-2">Best Quality Products</span>
						<h1 class="animate-3">Only Organic <br>Products</h1>
						<div class="btn-box animate-4"><a href="#" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--END Banner Section -->

	<!-- Categories Section -->
	<section class="categories-section-two pb-80">
		<span class="bg-pattern"></span>

		<div class="auto-container">
			<div class="sec-title">
				<div class="row">
					<div class="col-lg-6">
						<span class="sub-title">Our Categories</span>
						<h2>What we’re offering</h2>
					</div>
					<div class="col-lg-6">
						<div class="text">There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form.</div>
					</div>
				</div>
			</div>


			<div class="row">
				<!-- Category Block Two-->
				<div class="category-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="content" data-text="Vegetables">
							<figure class="image"><a href="page-service-details.html"><img src="https://via.placeholder.com/225x160" alt=""></a></figure>
							<h4><a href="page-service-details.html">Vegetables</a></h4>
							<p>When nothing prevents our and makers of natural and organic products to we best be.</p>
							<a href="page-service-details.html" class="link"><i class="fa fa-long-arrow-alt-right"></i></a>
						</div>
					</div>
				</div>

				<!--Category Block Two-->
				<div class="category-block-two child-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="content" data-text="Fresh Fruits">
							<figure class="image"><a href="page-service-details.html"><img src="https://via.placeholder.com/225x160" alt=""></a></figure>
							<h4><a href="page-service-details.html">Fresh Fruits</a></h4>
							<p>When nothing prevents our and makers of natural and organic products to we best be.</p>
							<a href="page-service-details.html" class="link"><i class="fa fa-long-arrow-alt-right"></i></a>
						</div>
					</div>
				</div>

				<!--Category Block Two-->
				<div class="category-block-two child-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box cat-bg-3">
						<div class="content" data-text="Dry Fruits">
							<figure class="image"><a href="page-service-details.html"><img src="https://via.placeholder.com/225x160" alt=""></a></figure>
							<h4><a href="page-service-details.html">Dry Fruits</a></h4>
							<p>When nothing prevents our and makers of natural and organic products to we best be.</p>
							<a href="page-service-details.html" class="link"><i class="fa fa-long-arrow-alt-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Our Categories -->

	<!-- About Section Two -->
	<section class="about-section-two pt-0">
		<div class="auto-container">
			<div class="row">
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="about-image-wrapper">
						<span class="icon icon-dros"></span>
						<figure class="image-1"><img src="https://via.placeholder.com/470x597" alt=""/></figure>
						<figure class="image-2"><img src="https://via.placeholder.com/300x199" alt=""/></figure>
					</div>
				</div>

				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="float-text">fesho</div>
						<div class="sec-title">
							<span class="sub-title">Get to Know Us</span>
							<h2>Proving the pure healthy products</h2>
							<h4>Natural products for lovers of healthy food.</h4>
							<div class="text">Dislike men who are so beguiled demoraliz worlds ed by the charms of pleasure of the moment. Lorem ipsum dolor sit At auctor urna nunc id cursus metus aliquam.</div>
						</div>
						<div class="info-box">
							<span class="animated-icon"><span class="flaticon-harvest"></span></span>
							<ul class="list-style-one">
								<li>Fresh and quality products</li>
								<li>Fresh and pure healthy food</li>
								<li>Don’t panic go for organic</li>
							</ul>
						</div>
						<a href="page-about.html" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Section Two -->

	<!-- Clients Section / Style Two  -->
	<section class="clients-section style-two">
		<div class="auto-container">
			<!-- Sponsors Outer -->
			<div class="sponsors-outer">
				<!--clients carousel-->
				<ul class="clients-carousel owl-carousel owl-theme">
					<li class="slide-item"> <a href="#"><img src="images/resource/client.png" alt=""></a> </li>
					<li class="slide-item"> <a href="#"><img src="images/resource/client.png" alt=""></a> </li>
					<li class="slide-item"> <a href="#"><img src="images/resource/client.png" alt=""></a> </li>
					<li class="slide-item"> <a href="#"><img src="images/resource/client.png" alt=""></a> </li>
					<li class="slide-item"> <a href="#"><img src="images/resource/client.png" alt=""></a> </li>
					<li class="slide-item"> <a href="#"><img src="images/resource/client.png" alt=""></a> </li>
				</ul>
			</div>
		</div>
	</section>
	<!--End Clients Section -->

	<!-- Gallery Section -->
	<section class="gallery-section-two pt-0">
		<div class="auto-container">
			<!--clients carousel-->
			<ul class="gallery-carousel-two owl-carousel owl-theme wow fadeInUp">
				<li class="gallery-item-two">
					<img src="https://via.placeholder.com/370x342" alt="">
					<div class="overlay-box">
						<a href="page-project-details.html" class="link"><i class="fa fa-long-arrow-alt-right"></i></a>
						<span class="cat">Organic</span>
						<h4><a href="page-project-details.html">Fresh & Pure</a></h4>
					</div>
				</li>
				<li class="gallery-item-two">
					<img src="https://via.placeholder.com/370x342" alt="">
					<div class="overlay-box">
						<a href="page-project-details.html" class="link"><i class="fa fa-long-arrow-alt-right"></i></a>
						<span class="cat">Organic</span>
						<h4><a href="page-project-details.html">Fresh & Pure</a></h4>
					</div>
				</li>
				<li class="gallery-item-two">
					<img src="https://via.placeholder.com/370x342" alt="">
					<div class="overlay-box">
						<a href="page-project-details.html" class="link"><i class="fa fa-long-arrow-alt-right"></i></a>
						<span class="cat">Organic</span>
						<h4><a href="page-project-details.html">Fresh & Pure</a></h4>
					</div>
				</li>
				<li class="gallery-item-two">
					<img src="https://via.placeholder.com/370x342" alt="">
					<div class="overlay-box">
						<a href="page-project-details.html" class="link"><i class="fa fa-long-arrow-alt-right"></i></a>
						<span class="cat">Organic</span>
						<h4><a href="page-project-details.html">Fresh & Pure</a></h4>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!--End Gallery Section -->

	<!-- Benefits Section -->
	<section class="benefits-section">
		<div class="auto-container">
			<!--Content Column-->
			<div class="content-column">
				<div class="inner-column">
					<div class="sec-title light">
						<span class="sub-title">Our Store Benefits</span>
						<h2>Why choose our store?</h2>
						<div class="text">There are many variations of passages of available but the majority have suffered. Alteration in some form, lipsum is simply free.</div>
					</div>

					<!-- Benefits Block -->
					<div class="benefits-block">
						<div class="inner">
							<span class="icon flaticon-money-bag"></span>
							<span class="title">Benefit 01</span>
							<h4>100% secure payment</h4>
						</div>
					</div>

					<!-- Benefits Block -->
					<div class="benefits-block">
						<div class="inner">
							<span class="icon flaticon-shopping-cart"></span>
							<span class="title">Benefit 02</span>
							<h4>Fast & free home delivery</h4>
						</div>
					</div>

					<!-- Benefits Block -->
					<div class="benefits-block">
						<div class="inner">
							<span class="icon flaticon-harvest"></span>
							<span class="title">Benefit 03</span>
							<h4>Only fresh & organic food</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--Image Column-->
		<div class="image-column" style="background-image:url(https://via.placeholder.com/932x757);">
			<figure class="image-box"><img src="https://via.placeholder.com/932x757" alt=""></figure>
		</div>
	</section>
	<!-- End Benefits Section -->

	<!-- Featured Products -->
	<section class="featured-products">
		<span class="bg-shape"></span>

		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">Special Offers</span>
			   <h2>Check today’s hot deal <br>products</h2>
			</div>

			<!--MixitUp Galery-->
			<div class="mixitup-gallery">
				<!--Filter-->
				<div class="filters clearfix">
					<ul class="filter-tabs filter-btns clearfix">
						<li class="active filter" data-role="button" data-filter="all">All</li>
						<li class="filter" data-role="button" data-filter=".dairy">Dairy</li>
						<li class="filter" data-role="button" data-filter=".pantry">Pantry</li>
						<li class="filter" data-role="button" data-filter=".meat">Meat</li>
						<li class="filter" data-role="button" data-filter=".fruit">Fruits</li>
						<li class="filter" data-role="button" data-filter=".vagetables">Vagetables</li>
					</ul>
				</div>

				<div class="filter-list row">
					<!--Product Block-->
					<div class="product-block all mix pantry fruit col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image"><a href="shop-product-details.html"><img src="https://via.placeholder.com/260x260" alt=""/></a></div>
							<div class="content">
								<h4><a href="shop-product-details.html">Bananas</a></h4>
								<span class="price">$32.00</span>
								<span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
							</div>
							<div class="icon-box">
								<a href="shop-product-details.html" class="ui-btn like-btn"><i class="fa fa-heart"></i></a>
								<a href="shop-cart.html" class="ui-btn add-to-cart"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>

					<!--Product Block-->
					<div class="product-block all mix dairy meat fruit col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image"><a href="shop-product-details.html"><img src="https://via.placeholder.com/260x260" alt=""/></a></div>
							<div class="content">
								<h4><a href="shop-product-details.html">Potatos</a></h4>
								<span class="price">$32.00</span>
								<span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
							</div>
							<div class="icon-box">
								<a href="shop-product-details.html" class="ui-btn like-btn"><i class="fa fa-heart"></i></a>
								<a href="shop-cart.html" class="ui-btn add-to-cart"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>

					<!--Product Block-->
					<div class="product-block all mix pantry fruit vagetables col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image"><a href="shop-product-details.html"><img src="https://via.placeholder.com/260x260" alt=""/></a></div>
							<div class="content">
								<h4><a href="shop-product-details.html">Apples</a></h4>
								<span class="price">$32.00</span>
								<span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
							</div>
							<div class="icon-box">
								<a href="shop-product-details.html" class="ui-btn like-btn"><i class="fa fa-heart"></i></a>
								<a href="shop-cart.html" class="ui-btn add-to-cart"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>

					<!--Product Block-->
					<div class="product-block all mix dairy meat vagetables col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image"><a href="shop-product-details.html"><img src="https://via.placeholder.com/260x260" alt=""/></a></div>
							<div class="content">
								<h4><a href="shop-product-details.html">Lettus</a></h4>
								<span class="price">$32.00</span>
								<span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
							</div>
							<div class="icon-box">
								<a href="shop-product-details.html" class="ui-btn like-btn"><i class="fa fa-heart"></i></a>
								<a href="shop-cart.html" class="ui-btn add-to-cart"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>

					<!--Product Block-->
					<div class="product-block all mix pantry meat fruit col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image"><a href="shop-product-details.html"><img src="https://via.placeholder.com/260x260" alt=""/></a></div>
							<div class="content">
								<h4><a href="shop-product-details.html">Red Grapes</a></h4>
								<span class="price">$32.00</span>
								<span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
							</div>
							<div class="icon-box">
								<a href="shop-product-details.html" class="ui-btn like-btn"><i class="fa fa-heart"></i></a>
								<a href="shop-cart.html" class="ui-btn add-to-cart"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>

					<!--Product Block-->
					<div class="product-block all mix dairy pantry col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image"><a href="shop-product-details.html"><img src="https://via.placeholder.com/260x260" alt=""/></a></div>
							<div class="content">
								<h4><a href="shop-product-details.html">Oranges</a></h4>
								<span class="price">$32.00</span>
								<span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
							</div>
							<div class="icon-box">
								<a href="shop-product-details.html" class="ui-btn like-btn"><i class="fa fa-heart"></i></a>
								<a href="shop-cart.html" class="ui-btn add-to-cart"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>

					<!--Product Block-->
					<div class="product-block all mix fruit vagetables col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image"><a href="shop-product-details.html"><img src="https://via.placeholder.com/260x260" alt=""/></a></div>
							<div class="content">
								<h4><a href="shop-product-details.html">Onions</a></h4>
								<span class="price">$32.00</span>
								<span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
							</div>
							<div class="icon-box">
								<a href="shop-product-details.html" class="ui-btn like-btn"><i class="fa fa-heart"></i></a>
								<a href="shop-cart.html" class="ui-btn add-to-cart"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>

					<!--Product Block-->
					<div class="product-block all mix dairy pantry meat vagetables col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image"><a href="shop-product-details.html"><img src="https://via.placeholder.com/260x260" alt=""/></a></div>
							<div class="content">
								<h4><a href="shop-product-details.html">Carrots</a></h4>
								<span class="price">$32.00</span>
								<span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
							</div>
							<div class="icon-box">
								<a href="shop-product-details.html" class="ui-btn like-btn"><i class="fa fa-heart"></i></a>
								<a href="shop-cart.html" class="ui-btn add-to-cart"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Featured Products -->


	<!-- Testimonial Section Two -->
	<section class="testimonial-section-two">
		<div class="anim-icons">
			<span class="icon icon-lemon bounce-y"></span>
			<span class="icon icon-leaf bounce-x"></span>
			<span class="icon icon-dots"></span>
			<span class="icon icon-orange bounce-y"></span>
		</div>

		<div class="auto-container">
			<div class="row">
				<!-- Testimonial Column-->
				<div class="testimonial-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="sec-title">
							<div class="sec-title">
								<span class="sub-title">What We’re Offering</span>
								<h2>What they’re talking about our store</h2>
							</div>
						</div>

						<div class="testimonials">

							<!-- Testimonial Thumbs -->
							<div class="swiper-container testimonial-thumbs">
								<div class="swiper-wrapper">
									<div class="swiper-slide testimonial-thumb">
										<figure class="image"><img src="https://via.placeholder.com/76x76" alt=""></figure>
									</div>
									<div class="swiper-slide testimonial-thumb">
										<figure class="image"><img src="https://via.placeholder.com/76x76" alt=""></figure>
									</div>
									<div class="swiper-slide testimonial-thumb">
										<figure class="image"><img src="https://via.placeholder.com/76x76" alt=""></figure>
									</div>
								</div>

								<!-- Add Pagination -->
								<div class="testimonial-pagination"></div>
							</div>

							<!-- Swiper -->
							<div class="swiper-container testimonial-content">
								<div class="swiper-wrapper">

									<!-- Testimonial Block Two -->
									<div class="testimonial-block-two swiper-slide">
										<div class="inner-box">
											<div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis montes.</div>
											<div class="info-box">
												<div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
												<h4 class="name">Jon D. William</h4>
												<span class="designation">Co Founder</span>
												<span class="icon flaticon-left-quote"></span>
											</div>
										</div>
									</div>

									<!-- Testimonial Block Two -->
									<div class="testimonial-block-two swiper-slide">
										<div class="inner-box">
											<div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis montes.</div>
											<div class="info-box">
												<div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
												<h4 class="name">Kevin Martin</h4>
												<span class="designation">Marketing head</span>
												<span class="icon flaticon-left-quote"></span>
											</div>
										</div>
									</div>

									<!-- Testimonial Block Two -->
									<div class="testimonial-block-two swiper-slide">
										<div class="inner-box">
											<div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis montes.</div>
											<div class="info-box">
												<div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
												<h4 class="name">Kevin Martin</h4>
												<span class="designation">Marketing head</span>
												<span class="icon flaticon-left-quote"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<figure class="image"><img src="https://via.placeholder.com/734x776" alt=""></figure>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section Two -->

	<!-- Fun Fact Section -->
	<section class="fun-fact-section">
		<div class="fact-counter">
			<div class="auto-container">
				<div class="row">
					<!--Column-->
					<div class="counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="count-box"><span class="count-text" data-speed="3000" data-stop="6420">0</span></div>
						<h4 class="counter-title">Agriculture Products</h4>
					</div>

					<!--Column-->
					<div class="counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="count-box"><span class="count-text" data-speed="3000" data-stop="8800">0</span></div>
						<h4 class="counter-title">Projects Completed</h4>
					</div>

					<!--Column-->
					<div class="counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="count-box"><span class="count-text" data-speed="3000" data-stop="9280">0</span></div>
						<h4 class="counter-title">Satisfied Clients</h4>
					</div>

					<!--Column-->
					<div class="counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="count-box"><span class="count-text" data-speed="3000" data-stop="1800">0</span></div>
						<h4 class="counter-title">Experts Farmers</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="features">
			<div class="auto-container">
				<div class="features-outer wow fadeInUp">
					<div class="row">
						<!-- Feature Block -->
						<div class="feature-block-two col-lg-3 col-md-6 col-sm-12">
							<div class="inner">
								<span class="icon flaticon-money-bag"></span>
								<h5>Return Policy</h5>
							</div>
						</div>

						<!-- Feature Block -->
						<div class="feature-block-two col-lg-3 col-md-6 col-sm-12">
							<div class="inner">
								<span class="icon flaticon-ship"></span>
								<h5>Free Shipping</h5>
							</div>
						</div>

						<!-- Feature Block -->
						<div class="feature-block-two col-lg-3 col-md-6 col-sm-12">
							<div class="inner">
								<span class="icon flaticon-organic"></span>
								<h5>Store Locator</h5>
							</div>
						</div>

						<!-- Feature Block -->
						<div class="feature-block-two col-lg-3 col-md-6 col-sm-12">
							<div class="inner">
								<span class="icon flaticon-shield"></span>
								<h5>Secure Payments</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Fun Fact Section -->

	<!-- News Section -->
	<section class="news-section">
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">What We’re Offering</span>
				<h2>Latest news updates <br>& articles</h2>
			</div>

			<div class="row">
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image-box">
							<span class="date">20 Aug</span>
							<figure class="image"><a href="news-details.html"><img src="https://via.placeholder.com/370x240" alt=""></a></figure>
						</div>
						<div class="lower-content">
							<ul class="post-info">
								<li><i class="far fa-user"></i> by Admin</li>
								<li><i class="far fa-comments"></i> 2 Comments</li>
							</ul>
							<h4><a href="news-details.html">Which healthy food growth strategies required</a></h4>
							<div class="text">Duis aute irure dolor lipsum simply free text the local markets.</div>
							<a href="news-details.html" class="theme-btn btn-style-three"><span class="btn-title">Read more</span></a>
						</div>
					</div>
				</div>

				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image-box">
							<span class="date">20 Aug</span>
							<figure class="image"><a href="news-details.html"><img src="https://via.placeholder.com/370x240" alt=""></a></figure>
						</div>
						<div class="lower-content">
							<ul class="post-info">
								<li><i class="far fa-user"></i> by Admin</li>
								<li><i class="far fa-comments"></i> 2 Comments</li>
							</ul>
							<h4><a href="news-details.html">Which healthy food growth strategies required</a></h4>
							<div class="text">Duis aute irure dolor lipsum simply free text the local markets.</div>
							<a href="news-details.html" class="theme-btn btn-style-three"><span class="btn-title">Read more</span></a>
						</div>
					</div>
				</div>

				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image-box">
							<span class="date">20 Aug</span>
							<figure class="image"><a href="news-details.html"><img src="https://via.placeholder.com/370x240" alt=""></a></figure>
						</div>
						<div class="lower-content">
							<ul class="post-info">
								<li><i class="far fa-user"></i> by Admin</li>
								<li><i class="far fa-comments"></i> 2 Comments</li>
							</ul>
							<h4><a href="news-details.html">Which healthy food growth strategies required</a></h4>
							<div class="text">Duis aute irure dolor lipsum simply free text the local markets.</div>
							<a href="news-details.html" class="theme-btn btn-style-three"><span class="btn-title">Read more</span></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!--End News Section -->

	<!-- Deal Section -->
	<section class="deal-section style-two pt-0">
		<div class="auto-container">
			<div class="outer-box wow fadeInUp">
				<div class="content-box" style="background-image: url(images/background/3.jpg);">
					<div class="sec-title text-center">
						<span class="sub-title">Weekly Offers</span>
						<h2>Check deal of the day</h2>
					</div>
					<div class="time-counter"><div class="time-countdown" data-countdown="2/2/2023"></div></div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Deal Section -->

	<!-- Main Footer -->
	<footer class="main-footer">
		<!--Widgets Section-->
		<div class="widgets-section">
			<div class="auto-container">

				<div class="row">
					<!--Footer Column-->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget about-widget">
							<div class="logo"><a href="index.html"><img src="images/logo-2.png" alt="" /></a></div>
							<div class="text">We’re providing every day fresh and quality products for you.</div>
							<ul class="social-icon-one">
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>

					<!--Footer Column-->
					<div class="footer-column col-lg-2 col-md-6 col-sm-12">
						<div class="footer-widget">
							<h5 class="widget-title">Explore</h5>
							<ul class="user-links">
								<li><a href="#">About Company</a></li>
								<li><a href="#">Our Services</a></li>
								<li><a href="#">Become a Seller</a></li>
								<li><a href="#">New Products</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>

					<!--Footer Column-->
					<div class="footer-column col-lg-3 col-md-6 col-sm-12">
						<div class="footer-widget">
							<h5 class="widget-title">Contact</h5>
							<div class="widget-content">
								<ul class="contact-list contact-info">
									<li>
										<i class="fa fa-phone-square"></i>
										<strong>Phone</strong>
										<a href="tel:+926668880000">+92 666 888 0000</a>
									</li>
									<li>
										<strong>Email</strong>
										<i class="fa fa-envelope"></i>
										<a href="mailto:needhelp@company.com">needhelp@company.com</a>
									</li>
									<li>
										<strong>Address</strong>
										<i class="fa fa-map-marker"></i>
										66 road, broklyn street new york
									 </li>
								</ul>
							</div>
						</div>
					</div>

					<!--Footer Column-->
					<div class="footer-column col-lg-3 col-md-6 col-sm-12">
						<div class="footer-widget Newsletter-widget">
							<h5 class="widget-title">Newsletter</h5>
							<div class="widget-content">
								<div class="subscribe-form">
									<form method="post" action="#">
										<div class="form-group">
											<input type="email" name="email" class="email" value="" placeholder="Email" required="">
											<button type="button" class="theme-btn btn-style-one"><span class="btn-title">Subscribe</span></button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!--Footer Bottom-->
		<div class="footer-bottom">
			<div class="auto-container">
				<div class="inner-container">
					 <div class="copyright-text">
						<p>© Copyright 2022 by <a href="index.html">Company.com</a></p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--End Main Footer -->

</div><!-- End Page Wrapper -->


<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>


<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<!--Revolution Slider-->
<script src="plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="js/main-slider-script.js"></script>
<!--Revolution Slider-->
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/wow.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>