{% extends 'index.html' %}
{% block metas %}
    <meta property="og:url" content=" /post/{{ blog.id }}" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="/post/{{ blog.titulo }} " />
    <meta property="og:description" content="/post/{{ blog.titulo }} " />
    <meta property="og:image"  content=" /media/{{ blog.imaGEN }} " />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
{% endblock %}
{% block principal %}
    <div class="row">
				<div class="sec-title text-center">
					<span class="sub-title">Blog sobre Acricultura y cuidados</span>
					<h2>Biológicos Alvarado & Maggio </h2>
				</div>
    </div>
    
	<!-- Gallery Section -->
	<section class="">
		<div class="container">
			<div class="row g-3">
                {% for blog in blogs %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="gallery-item-two ">
                            <img src="/media/{{ blog.imagen }}" alt="">
                            <div class="overlay-box">
                                <a href="/post/{{ blog.id }}" class="link"><i class="fa fa-long-arrow-alt-right"></i></a>
                                <span class="cat">{{ blog.titulo }}</span>
                                <h6><a href="/post/{{ blog.id }}">{{ blog.autor }}</a></h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
				
            </div>
		</div>
	</section>
	<!-- End Gallery Section -->

{% endblock %}		