{% extends 'index.html' %}
{% block metas %}
    <meta property="og:url" content=" " />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content=" " />
    <meta property="og:description" content="" />
    <meta property="og:image"  content=" " />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
{% endblock %}
{% block principal %}
	<!--Start Services Details-->
	<section class="services-details">
		<div class="container">
			<div class="row">
				<!--Start Services Details Sidebar-->
				<div class="col-xl-4 col-lg-4">
					<div class="service-sidebar">
						<!--Start Services Details Sidebar Single-->
						<div class="sidebar-widget service-sidebar-single">
							<div class="service-sidebar-single-services wow fadeInUp"
								data-wow-delay="0.1s" data-wow-duration="1200m">
								<div class="title">
									<h4 >SERVICIOS</h4>
								</div>
								<ul>
									{% for servicios in servicios_menu %}
                                        <li ><a href="/servicios/{{ servicios.id }}">{{ servicios.titulo }} <i class="fa fa-angle-right"></i></a></li>

                                    {% endfor %}
									
								</ul>
							</div>
						</div>
						<!--End Services Details Sidebar Single-->

						
                        <div class="sidebar-widget banner-widget">
                          <div class="widget-content" style="background-image: url(/media/{{ servicios.img_servicio_2 }});">
                            <div class="shape" style="background-image: url(/static/images/resource/overlay-shape.png);"></div>
                            <div class="content-box">
                              <div class="icon-box">
                                <i class="lnr lnr-icon-pie-chart"></i>
                              </div>
                              <h4 style="color: #dddddd">La solución de hoy para el futuro</h4>
                            </div>
                          </div>
                        </div>

						<!--Start Services Details Sidebar Single-->
						<div class="sidebar-widget service-sidebar-single mt-5">
							<div class="service-sidebar-single-btn wow fadeInUp"
								data-wow-delay="0.5s" data-wow-duration="1200m">
								<a href="tel:{{ biologicos.celular }}" class="theme-btn btn-style-one d-grid"><span class="btn-title"> Contactar</span></a>
							</div>
						</div>
						<!--End Services Details Sidebar Single-->
					</div>
				</div>
				<!--End Services Details Sidebar-->

				<!--Start Services Details Content-->
				<div class="col-xl-8 col-lg-8">
					<div class="services-details__content">
                        <img src="/media/{{servicios.img_servicio_1}}" alt="">
						
						<h2 class="mt-4">{{ servicios.titulo }}</h2>
                    
                        {% if servicios.parrafo_1   %}
                           <p>{{ servicios.parrafo_1 }}</p> 
                        {% else %}
                        {% endif %}
                    
                        {% if servicios.parrafo_2   %}
                           <p>{{ servicios.parrafo_2 }}</p> 
                        {% else %}
                        {% endif %}
                    
						<div class="content">
                        
                            <div class="text">
								<h3>Beneficios</h3>
                                {% if servicios.beneficio_parrafo_1   %}
                                    <p>{{ servicios.beneficio_parrafo_1 }}</p> 
                                {% else %}
                                {% endif %}
                            
                            
                            
							</div>
                        
							<div class="feature-list">
								<div class="row clearfix">
                                    
                                    {% if servicios.beneficio_1   %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 column">
                                            <div class="single-item">
                                                <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                                <h6 class="p--0">{{ servicios.beneficio_1 }}</h6>
                                            </div>
                                        </div>
                                        {% else %}
                                    {% endif %}
                                
                                    {% if servicios.beneficio_2   %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 column">
                                            <div class="single-item">
                                                <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                                <h6 class="p--0">{{ servicios.beneficio_2 }}</h6>
                                            </div>
                                        </div>
                                        {% else %}
                                    {% endif %}
                                
                                    {% if servicios.beneficio_3   %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 column">
                                            <div class="single-item">
                                                <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                                <h6 class="p--0">{{ servicios.beneficio_3 }}</h6>
                                            </div>
                                        </div>
                                        {% else %}
                                    {% endif %}
                                
                                    {% if servicios.beneficio_4   %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 column">
                                            <div class="single-item">
                                                <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                                <h6 class="p--0">{{ servicios.beneficio_4 }}</h6>
                                            </div>
                                        </div>
                                        {% else %}
                                    {% endif %}
                                
                                    {% if servicios.beneficio_5   %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 column">
                                            <div class="single-item">
                                                <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                                <h6 class="p--0">{{ servicios.beneficio_5 }}</h6>
                                            </div>
                                        </div>
                                        {% else %}
                                    {% endif %}
                                
                                    {% if servicios.beneficio_6   %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 column">
                                            <div class="single-item">
                                                <div class="icon-box"><i class="fas fa-check-circle"></i></div>
                                                <h6 class="p--0">{{ servicios.beneficio_6 }}</h6>
                                            </div>
                                        </div>
                                        {% else %}
                                    {% endif %}
								</div>
							</div>
                        
                            {% if servicios.link_video_servicio %}
                            <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                                <iframe id="ytplayer" type="text/html" 
                                    src="https://www.youtube.com/embed/{{ servicios.link_video_servicio }}?controls=0" 
                                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
                                    frameborder="0" allowfullscreen>
                                </iframe>
                            </div>
                                {% else %}
                            {% endif %}
						</div>
						
					</div>
				</div>
				<!--End Services Details Content-->
			</div>
		</div>
	</section>
	<!--End Services Details-->
    
							
{% endblock %}    
<!-- form submit -->
