{% extends 'index.html' %}
{% block metas %}
    <meta property="og:url" content=" " />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content=" " />
    <meta property="og:description" content="" />
    <meta property="og:image"  content=" }" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
    <meta property="fb:app_id" content="926164441218858" />
{% endblock %}
{% block principal %}

	<!-- Start main-content -->
	<section class="page-title" style="background-image: url('/media/{{ edit_web.imag_fondo_05 }}') !important;">
		<div class="auto-container">
			<div class="title-outer">
				<h1 class="title">Nosotros</h1>
				<ul class="page-breadcrumb">
					<li><a href="-">Inicio</a></li>
					<li>Nosotros</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->

	<!-- About Section Two -->
	<section class="about-section-two">
		<div class="auto-container">
			<div class="row">
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="about-image-wrapper">
						<span class="icon icon-dros"></span>
						<figure class="image-1"><img src="/media/{{ edit_web.about_img01 }}" alt=""/></figure>
						<figure class="image-2"><img src="/media/{{ edit_web.about_img02 }}" alt=""/></figure>
					</div>
				</div>

				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="float-text">fesho</div>
						<div class="sec-title">
							<span class="sub-title">{{ edit_web.about_sub_titulo1 }}</span>
							<h2>{{ edit_web.about_titulo1 }}</h2>
							<h4>{{ edit_web.about_sub_titulo2 }}</h4>
							<div class="text">{{ edit_web.about_detalle1 }}</div>
						</div>
						<div class="info-box">
							<span class="animated-icon"><span class="flaticon-harvest"></span></span>
							<ul class="list-style-one">
								<li>{{ edit_web.about_destacado_01 }}</li>
                                <li>{{ edit_web.about_destacado_02 }}</li>
                                <li>{{ edit_web.about_destacado_03 }}</li>
                                <li>{{ edit_web.about_destacado_04 }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Section Two -->

	<!-- Fun Fact Section -->
	<section class="fun-fact-section" style="background-image: url('/media/{{ edit_web.imag_fondo_06 }}') !important;">
		<div class="fact-counter">
			<div class="auto-container">
				<div class="row">
					<!--Column-->
					<div class="counter-column col-lg-6 col-md-6 col-sm-12">
						<div class="count-box">Misión</div>
						<p class="counter-title">{{ edit_web.mision }}</p>
					</div>
                    

					<!--Column-->
					<div class="counter-column col-lg-6 col-md-6 col-sm-12">
						<div class="count-box">Visión</div>
						<p class="counter-title">{{ edit_web.vision }}</p>
					</div>

					
				</div>
			</div>
		</div>

		
	</section>
	<!--End Fun Fact Section -->

	<!-- Featured Products -->
	<section class="featured-products">
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">Nuestras Marcas</span>
				 <h2>Mejores productos para el sector agrícola</h2>
			</div>

			<div class="row">
                
                
                {% for producto in productos %}
                    <!--Product Block-->
                    <div class="product-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box" style="border:#dddddd !important;">
                            <div class="image"><a href="/producto/{{ producto.id }}"><img src="/media/{{ producto.logo_producto }}" alt=""/></a></div>
                            
                        </div>
                    </div>
                {% endfor %}

			</div>
		</div>
	</section>
	<!-- End Featured Products -->

{% endblock %}