{% extends 'index.html' %}
{% block metas %}
    <meta property="og:url" content=" /post/{{ blog.id }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="/post/{{ blog.titulo }} "/>
    <meta property="og:description" content="/post/{{ blog.titulo }} "/>
    <meta property="og:image" content=" /media/{{ blog.imaGEN }} "/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="600"/>
{% endblock %}
{% block principal %}
    <!-- Featured Products -->

    <div class="auto-container">
        <!-- Top Banners -->
        <section class="top-banners">
            <div class="container-fluid pb-0">
                <div class="row">
                    <div class="sec-title text-center">
                        <span class="sub-title">Productos para el Agro</span>
                        <h2>Calidad Orgánica</h2>
                    </div>
                    {% for producto in productos %}
                        <!-- Banner Box One -->
                        <div class="banner-box-one  col-lg-3 col-md-6 col-sm-12">
                            <div class="inner-box" style="background-color: {{ producto.color }}">
                                <div class="image"><img src="/media/{{ producto.img_foto }}" alt=""></div>
                                <div class="content">
                                    <span class="title">{{ producto.sub_titulo }}</span>
                                    <img src="/media/{{ producto.logo_producto }}" alt="">
                                    <h4>{{ producto.titulo }}</h4>
                                    <a href="/producto/{{ producto.id }}" class="theme-btn btn-style-two"><span
                                            class="btn-title">Ver.</span></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    <!-- End Featured Products -->
{% endblock %}