{% extends 'index.html' %}
{% block metas %}
    <meta property="og:url" content=" /post/{{ blog.id }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="/post/{{ blog.titulo }} "/>
    <meta property="og:description" content="/post/{{ blog.titulo }} "/>
    <meta property="og:image" content=" /media/{{ blog.imaGEN }} "/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="600"/>
{% endblock %}
{% block principal %}
    <!-- Featured Products -->

    

    <!-- Top Banners -->
	<section class="top-banners">
		<div class="container-fluid pb-0">
			

			<div class="row">
				<div class="sec-title text-center">
					<span class="sub-title">Servicios para el Agro</span>
					<h2>Calidad Orgánica</h2>
				</div>
				{% for servicio in servicios %}
				<!-- Banner Box One -->
				<div class="banner-box-one  col-lg-4 col-md-6 col-sm-12"  >
					<div class="inner-box" style="background-color: {{servicio.color}}; left: 0px !important;">
						<div class="image"  style="left: 0px !important;"><img src="/media/{{servicio.img_servicio_2}}" alt=""></div>
						<div class="content">
							<span class="title">{{servicio.sub_titulo}}</span>
							<h3 style="font-size: 27px !important;">{{servicio.titulo}}</h3>
                            <br><br><br><br><br><br><br><br>
							<a href="/servicios/{{servicio.id}}" class="theme-btn btn-style-two"><span class="btn-title">Ver.</span></a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
	</section>
{% endblock %}