<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
<link href="/static/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
<link href="/static/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->

<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/responsive.css" rel="stylesheet">

{% extends 'index.html' %}
{% block metas %}
    <meta property="og:url" content=" " />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content=" " />
    <meta property="og:description" content="" />
    <meta property="og:image"  content=" " />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
{% endblock %}
{% block principal %}
	<!--Product Details Start-->
	<section class="product-details">
		<div class="container pb-70">
			<div class="row">
				<div class="col-lg-6 col-xl-6">
					<div class="bxslider">
						<div class="slider-content">
							<figure class="image-box"><a href="/media/{{ producto.img_producto }}" class="lightbox-image" data-fancybox="gallery"><img src="/media/{{ producto.img_producto }}" alt=""></a></figure>
							<div class="slider-pager">
								<ul class="thumb-box">
									<li> <a class="active" data-slide-index="0" href="#">
										<figure><img src="/media/{{ producto.img_producto }}" alt=""></figure>
										</a> 
                                    </li>
                                    
									<li> <a data-slide-index="1" href="#">
										<figure><img src="/media/{{ producto.img_set_producto }}" alt=""></figure>
										</a> 
                                    </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
                
				<div class="col-lg-6 col-xl-6 product-info">
					<div class="product-details__top">
						<h3 class="product-details__title">{{ producto.titulo }}  </h3>
                        <h6 style="color: #21a117 ; margin-top: 0px !important;">{{ producto.sub_titulo }} </h6>
					</div>
					<div class="product-details__reveiw" style="margin-top: 0px !important;">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<span>Opiniones de clientes</span>
					</div>
					<div class="product-details__content">
						<p class="product-details__content-text1">{{ producto.detalle }}</p>
					</div>
                    
					<div class="product-details__buttons">
						<div class="product-details__buttons-1">
							<a href=" https://api.whatsapp.com/send?phone=+593{{ biologicos.whatsapp }}&text=Hola%20Me%20interesa%20este%20producto%20  https://www.biologicos.ec/producto/{{ producto.id }}  - {{ producto.titulo }}  " class="theme-btn btn-style-one"><span class="btn-title">Adquirir Producto</span></a>
						</div>
						<div class="product-details__buttons-2">
							<a href="/media/{{ producto.ficha_tecnica }}" class="theme-btn btn-style-one"><span class="btn-title">Ver Ficha Técnica</span></a>
						</div>
					</div>
                    
                    <!-- Features Section -->
                    <section class="">
                        <div class="a">
                            <div class="row">
                                <!-- Feature Block -->
                                <div class="feature-block col-lg-6 col-md-6 col-sm-12 mb-sm-50">
                                    <div class="inner"  style="padding-left: 0px !important;">
                                        <a href="/media/{{ producto.certificacion }}" style="color: #797f7d !important;">
                                             <p style="margin-bottom: 0px !important;"> Certificación </p>
                                             <img src="/media/{{ producto.logo_certificacion }}"  alt="">
                                        </a>
                                    </div>
                                </div>
                                
                                <!-- Feature Block -->
                                <div class="feature-block col-lg-6 col-md-6 col-sm-12 mb-sm-50">
                                    <div class="inner"  style="padding-left: 0px !important;">
                                        <a href="/media/{{ producto.registro }}" style="color: #797f7d !important;">
                                             <p style="margin-bottom: 0px !important;"> Registro </p>
                                             <img src="/media/{{ producto.logo_registro }}"  alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
					<div class="product-details__social">
						<div class="title">
							<h3> Compartir con amigos </h3>
						</div>
						<ul class="social-icon-one">
							<li><a href="http://www.twitter.com/{{ biologicos.twitter }}"><i class="fab fa-twitter"></i></a></li>
							<li><a href="http://www.facebook.com/{{ biologicos.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Product Details End-->
 
	<!--Product Description Start-->
	<section class="product-description">
		<div class="container pt-0 pb-90">
			<div class="product-discription">
				<div class="tabs-box">
					<div class="tab-btn-box text-center">
						<ul class="tab-btns tab-buttons clearfix">
							<li class="tab-btn active-btn" data-tab="#tab-1">Descripción</li>
							<li class="tab-btn" data-tab="#tab-2">Aplicación y Dosis</li>
						</ul>
					</div>
					<div class="tabs-content">
						<div class="tab active-tab" id="tab-1">
							<div class="text">
								<h3 class="product-description__title">Descripción</h3>
								<p class="product-description__text1">{{ producto.detalle }}</p>
								<div class="">
									<ul class="list-unstyled">
                                        {% for beneficio in beneficios %}
                                            <li>
                                                <h5 class=""><span class="fa fa-arrow-right" style="margin-bottom: 0px !important; color: #e6c13d" ></span> {{ beneficio.titulo }}</h5>
                                                <p class="product-description__tex2 " > {{ beneficio.detalle }}</p>
                                            </li>
                                            <br>
                                        {% endfor %}
									</ul>
								</div>
								
							</div>
						</div>
						<div class="tab" id="tab-2">
                            <div class="text">
								<h3 class="product-description__title">¿Cómo se utiliza? </h3>
								<p class="product-description__text1">{{ producto.utilizacion }} </p>
                                <h3 class="product-description__title">Aplicación y Dosis</h3>
							</div>
                        
                            <!-- About Section Two -->
                            <section class="about-section-two pt-0">
                                <div class="auto-container">
                                    <div class="row">
                                         {% for aplica in aplicas %}
                                            <!-- Content Column -->
                                            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                                                <div class="inner-column">
                                                    <div class="sesc-title">
                                                        <h5 style="margin-bottom: 0px !important;">{{ aplica.cultivo }}</h5>
                                                        <div class="text" style="margin-top: 0px !important;">{{ aplica.dosis }}</div>
                                                    </div>
                                                    <div class="info-box" style="margin-bottom: 20px !important;">
                                                        
                                                        <span class="animated-icon"><img src="/media/{{ aplica.icono }}" width="200"></span>
                                                        
                                                        <ul class="list-style-one">
                                                            <li class="text"><p>{{ aplica.aplicacion }}</p></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                            <!-- End About Section Two -->
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    
	<!--Product Description End-->

	<section class="related-product">
		<div class="container pt-0 pb-90">
			<h3>Productos relacionados</h3>
			<div class="row clearfix">
				<div class="col">
					<!--MixitUp Galery-->
					<div class="mixitup-gallery">
						<div class="filter-list row">
							{% for product in productos %}
								<!--Product Block-->
                                <div class="product-block all mix pantry fruit col-lg-3 col-md-6 col-sm-12">
                                    <div class="inner-box">
                                        <div class="image"><a href="/producto/{{ product.id }}"><img src="/media/{{ product.img_producto }}" alt=""/></a></div>
                                        <div class="content">
                                            <h4><a href="/producto/{{ product.id }}">{{ product.titulo }}</a></h4>
                                            <span class="price" style="margin-top: 0px !important;">{{ product.sub_titulo }}</span>
                                            
                                            <span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                                        </div>
                                        <div class="icon-box">
                                            <a href="/producto/{{ product.id }}" class="ui-btn add-to-cart"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
							
{% endblock %}


{% block script %}

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>


<script src="/static/js/jquery.js"></script>
<script src="/static/js/popper.min.js"></script>

<!--Revolution Slider-->
<script src="/static/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/static/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/static/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="/static/js/main-slider-script.js"></script>
<!--Revolution Slider-->


<script src="/static/js/jquery.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.fancybox.js"></script>
<script src="/static/js/jquery.countdown.js"></script>
<script src="/static/js/bxslider.js"></script>
<script src="/static/js/mixitup.js"></script>
<script src="/static/js/wow.js"></script>
<script src="/static/js/appear.js"></script>
<script src="/static/js/owl.js"></script>
<script src="/static/js/script.js"></script>

{% endblock %}